/* App.css */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #393536;
  padding: 10px;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  color: #f26b38;
}
